.course-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.course-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.course-details-heading > .course-sub-heading {
  color: var(--secondary-color);
  font-size: 24px;
  margin-bottom: 15px;
}

.course-details-heading {
  margin-bottom: 20px;
}

.course-details-heading li {
  font-size: 14px;
}

li {
  list-style-type: none;
}

.listing-apply .course-sub-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label,
input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 12px;
}
input {
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 0.3px;
}
@media (max-width: 1024px) {
  .course-photo {
    width: 100%;
    height: 50%;
  }
}
